### Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [26]:
import sqlite3
import pandas as pd

In [15]:
conn = sqlite3.connect("petsdb")

In [16]:
# a tiny function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [17]:
print(is_opened(conn))

True

In [18]:
conn.close()

In [19]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### Task 2: (What are the different age groups in the persons database)

In [20]:
# open the connection to the database
conn = sqlite3.connect("petsdb")

In [22]:
# open a cursor in order to read the rows from the table
c = conn.cursor()

In [23]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### Task 3: Which age group has maximum number of people?

In [24]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

### Task 4: How many people do not have a full name (Last name is blank/null)

In [43]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row[0])

60

### Task 5: How many people has more than one pet? (*)

In [39]:
# read data into a dataframe to analyse it
df_pets = pd.read_sql_query('SELECT * FROM pets;',conn )

In [37]:
df_pets.describe

<bound method NDFrame.describe of      owner_id pet_name  pet_type  treatment_done
0          57     mani       1.0               0
1          80   tamari       NaN               0
2          25     raba       NaN               0
3          27     olga       NaN               0
4          60     raba       NaN               0
..        ...      ...       ...             ...
145        86    fenga       1.0               0
146        87     palu       1.0               0
147        26   snoopy       1.0               0
148        36     nani       1.0               0
149        22     helu       1.0               1

[150 rows x 4 columns]>

In [41]:
# for this activity we will use the SQL query to get answer
res = c.execute("SELECT owner_id,count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1 order by count(owner_id) desc")
for row in res:
    print("Owner {} has {} pets".format(row[0],row[1]))

owner 56 has 5 pets
owner 27 has 5 pets
owner 40 has 4 pets
owner 37 has 4 pets
owner 99 has 3 pets
owner 98 has 3 pets
owner 64 has 3 pets
owner 60 has 3 pets
owner 57 has 3 pets
owner 51 has 3 pets
owner 50 has 3 pets
owner 43 has 3 pets
owner 42 has 3 pets
owner 36 has 3 pets
owner 35 has 3 pets
owner 33 has 3 pets
owner 25 has 3 pets
owner 21 has 3 pets
owner 10 has 3 pets
owner 7 has 3 pets
owner 5 has 3 pets
owner 2 has 3 pets
owner 100 has 2 pets
owner 86 has 2 pets
owner 67 has 2 pets
owner 58 has 2 pets
owner 53 has 2 pets
owner 49 has 2 pets
owner 48 has 2 pets
owner 45 has 2 pets
owner 39 has 2 pets
owner 38 has 2 pets
owner 31 has 2 pets
owner 28 has 2 pets
owner 26 has 2 pets
owner 24 has 2 pets
owner 20 has 2 pets
owner 18 has 2 pets
owner 16 has 2 pets
owner 14 has 2 pets
owner 13 has 2 pets
owner 9 has 2 pets
owner 6 has 2 pets

### Task 6: How many pets have received treaments?

In [46]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row[0])

36

### Task 7: How many pets have received treatment that we know the type of? (*)

In [47]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row[0])

16

### Task 8: How many pets are there from the city called "east port"

In [49]:
res = c.execute("""SELECT count(*) 
                   FROM pets INNER JOIN persons 
                       ON pets.owner_id = persons.id 
                   WHERE persons.city='east port'""")
for row in res:
    print(row[0])

49

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [50]:
res = c.execute("""SELECT count(*) 
                    FROM pets INNER JOIN persons 
                         ON pets.owner_id = persons.id 
                    WHERE persons.city='east port' 
                    AND pets.treatment_done=1""")
for row in res:
    print(row[0])

11