In [2]:
# Display the text “Hello World! I wonder why that is always the default coding text to start with”
print('Hello World! I wonder why that is always the default coding text to start with')

Hello World! I wonder why that is always the default coding text to start with

In [3]:
# Add two numbers together
print (10 + 20)

30

In [4]:
# Subtract a number from another number
print (25 - 5)

20

In [6]:
# Multiply two numbers
print (20 * 5)

100

In [7]:
# Divide between two numbers
print (100 / 25)

4.0

In [10]:
# Concatenate two strings together (any words)
str1 = 'Hi I am Arindam.'
str2 = 'I live in Omaha, NE'

print(str1 +' ' + str2)

Hi I am Arindam. I live in Omaha, NE

In [19]:
# Create a list of 4 items (can be strings, numbers, both)
lst1 = ['Hi',2,3,'end']

print(lst1[2])
print(lst1[3])
lst1

3
end

['Hi', 2, 3, 'end']

In [20]:
# Append an item to your list (again, can be a string, number)
lst1.append('start')
lst1.append(99)
lst1

['Hi', 2, 3, 'end', 'start', 99]

In [21]:
# Create a tuple with 4 items (can be strings, numbers, both)
tples = ('Abc',1,99.99,'xYz')

tples

('Abc', 1, 99.99, 'xYz')