In [1]:
import pandas as pd

In [21]:
df_1 = pd.read_excel("candyhierarchy2017.xlsx", sheet_name=None)
df_1.keys()
sheet_nme = df_1.keys()
print(sheet_nme)

dict_keys(['responses (2) (1).csv'])

In [22]:
df = pd.read_excel("candyhierarchy2017.xlsx", sheet_name='responses (2) (1).csv')

In [24]:
rows_bf4 = df.shape[0]
cols_bf4 = df.shape[1]

print ("The dataframe has {} rows and {} columns".format(rows_bf4,cols_bf4))

The dataframe has 2460 rows and 120 columns

In [26]:
df.head

<bound method NDFrame.head of       Internal ID Q1: GOING OUT? Q2: GENDER Q3: AGE Q4: COUNTRY  \
0        90258773            NaN        NaN     NaN         NaN
1        90272821             No       Male      44        USA
2        90272829            NaN       Male      49         USA
3        90272840             No       Male      40          us
4        90272841             No       Male      23         usa
...           ...            ...        ...     ...         ...
2455     90314359             No       Male      24         USA
2456     90314580             No     Female      33         USA
2457     90314634             No     Female      26        USA
2458     90314658             No       Male      58         Usa
2459     90314802             No     Female      66         usa

     Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
0                                 NaN                NaN
1                                  NM                MEH
2                            Virginia                NaN
3                                  or                MEH
4                            exton pa                JOY
...                               ...                ...
2455                               MD                JOY
2456                         New York                MEH
2457                        Tennessee                MEH
2458                   North Carolina                NaN
2459                     Pennsylvania            DESPAIR

     Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
0                                                   NaN
1                                               DESPAIR
2                                                   NaN
3                                               DESPAIR
4                                               DESPAIR
...                                                 ...
2455                                            DESPAIR
2456                                            DESPAIR
2457                                            DESPAIR
2458                                                NaN
2459                                            DESPAIR

     Q6 | Any full-sized candy bar Q6 | Black Jacks  ... Q8: DESPAIR OTHER  \
0                              NaN              NaN  ...               NaN
1                              JOY              MEH  ...               NaN
2                              NaN              NaN  ...               NaN
3                              JOY              MEH  ...               NaN
4                              JOY          DESPAIR  ...               NaN
...                            ...              ...  ...               ...
2455                           MEH          DESPAIR  ...  Fruit Stripe Gum
2456                           JOY              NaN  ...            Capers
2457                           JOY          DESPAIR  ...               NaN
2458                           NaN              NaN  ...               NaN
2459                           JOY          DESPAIR  ...               NaN

                                     Q9: OTHER COMMENTS      Q10: DRESS  \
0                                                   NaN             NaN
1     Bottom line is Twix is really the only candy w...  White and gold
2                                                   NaN             NaN
3                                Raisins can go to hell  White and gold
4                                                   NaN  White and gold
...                                                 ...             ...
2455                                                NaN  White and gold
2456                                                NaN  Blue and black
2457                                                NaN  Blue and black
2458                                                NaN             NaN
2459  You hit all my chocolate highlights, and broug...  White and gold

     Unnamed: 113 Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
0             NaN      NaN                     NaN                  NaN
1             NaN   Sunday                     NaN                  1.0
2             NaN      NaN                     NaN                  NaN
3             NaN   Sunday                     NaN                  1.0
4             NaN   Friday                     NaN                  1.0
...           ...      ...                     ...                  ...
2455          NaN   Friday                     NaN                  NaN
2456          NaN   Friday                     NaN                  1.0
2457          NaN   Friday                     NaN                  1.0
2458          NaN      NaN                     NaN                  NaN
2459          NaN   Sunday                     1.0                  NaN

     Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y)
0                  NaN                NaN                      NaN
1                  NaN                NaN                 (84, 25)
2                  NaN                NaN                      NaN
3                  NaN                NaN                 (75, 23)
4                  NaN                NaN                 (70, 10)
...                ...                ...                      ...
2455               NaN                NaN                      NaN
2456               NaN                NaN                 (70, 26)
2457               NaN                NaN                 (67, 35)
2458               NaN                NaN                      NaN
2459               NaN                NaN                 (19, 26)

[2460 rows x 120 columns]>