In [8]:
# import the relevant packages
import pandas as pd

In [9]:
# looking at the file it seems using the shell command
# Row count shows that there are 
out = !wc -l MetObjects.csv
out_split = out[0].split()
# out_split[0]
print("The row count in the file is: {}".format(out_split[0]))

The row count in the file is: 12108

In [24]:
# Trying to load the data file
df = pd.read_csv("MetObjects.csv",skiprows=[0])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 156: invalid continuation byte

In [25]:
df = pd.read_table("MetObjects.csv",sep=',')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 156: invalid continuation byte

In [14]:
df = pd.read_csv("MetObjects.csv",skiprows=None,encoding='latin-1')
df.head(10)

  Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0  1979.486.1,False,False,1,The American Wing,Coi...
1  1980.264.5,False,False,2,The American Wing,Coi...
2  67.265.9,False,False,3,The American Wing,Coin,...
3  67.265.10,False,False,4,The American Wing,Coin...
4  67.265.11,False,False,5,The American Wing,Coin...
5  67.265.12,False,False,6,The American Wing,Coin...
6  67.265.13,False,False,7,The American Wing,Coin...
7  67.265.14,False,False,8,The American Wing,Coin...
8  67.265.15,False,False,9,The American Wing,Coin...
9  1979.486.3,False,False,10,The American Wing,Co...

In [18]:
# read in column labels as list
cols = pd.read_csv("MetObjects.csv",nrows=0).columns.tolist()
cols

['Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,Artist Role,Artist Prefix,Artist Display Name,Artist Display Bio,Artist Suffix,Artist Alpha Sort,Artist Nationality,Artist Begin Date,Artist End Date,Object Date,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,City,State,County,Country,Region,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags']

In [24]:
# read in data; use default pd.RangeIndex, i.e. 0, 1, 2, etc., as columns
data = pd.read_csv('MetObjects.csv', header=None, skiprows=[0],encoding='latin1')
data.head(10)

                                                   0
0  1979.486.1,False,False,1,The American Wing,Coi...
1  1980.264.5,False,False,2,The American Wing,Coi...
2  67.265.9,False,False,3,The American Wing,Coin,...
3  67.265.10,False,False,4,The American Wing,Coin...
4  67.265.11,False,False,5,The American Wing,Coin...
5  67.265.12,False,False,6,The American Wing,Coin...
6  67.265.13,False,False,7,The American Wing,Coin...
7  67.265.14,False,False,8,The American Wing,Coin...
8  67.265.15,False,False,9,The American Wing,Coin...
9  1979.486.3,False,False,10,The American Wing,Co...

In [30]:
data[:1]

                                                   0
0  1979.486.1,False,False,1,The American Wing,Coi...