In [1]:
import pandas as pd

In [13]:
# Reading the xlsm file as a dataframe in pandas
world_pop = pd.read_excel('world-population.xlsm', sheet_name='world-population')

In [14]:
type(world_pop)

pandas.core.frame.DataFrame

In [15]:
world_pop

    Year  Population
0   1960  3028654024
1   1961  3068356747
2   1962  3121963107
3   1963  3187471383
4   1964  3253112403
5   1965  3320396924
6   1966  3390712300
7   1967  3460521851
8   1968  3531547287
9   1969  3606994959
10  1970  3682870688
11  1971  3761750672
12  1972  3839147707
13  1973  3915742695
14  1974  3992806090
15  1975  4068032705
16  1976  4141383058
17  1977  4214499013
18  1978  4288485981
19  1979  4363754326
20  1980  4439638086
21  1981  4516734312
22  1982  4595890494
23  1983  4675178812
24  1984  4753877875
25  1985  4834206631
26  1986  4918126890
27  1987  5004006066
28  1988  5090899475
29  1989  5178059174
30  1990  5266783430
31  1991  5351836347
32  1992  5433823608
33  1993  5516863641
34  1994  5598658151
35  1995  5681689325
36  1996  5762235749
37  1997  5842585301
38  1998  5921799957
39  1999  6001269553
40  2000  6078274622
41  2001  6155652495
42  2002  6232413711
43  2003  6309266583
44  2004  6385778679
45  2005  6462054420
46  2006  6538196688
47  2007  6614396907
48  2008  6692030277
49  2009  6775235741

ValueError: If using all scalar values, you must pass an index